$bgcolor: #EEEFF1

$fontA: normal 500 32px 'Roboto'
$fontB: normal 400 16px 'Roboto',

body
    margin: 0

.container
    width: 1130px
    margin: 0 auto
    @media (min-width: 320px) and (max-width: 1279px)
        width: auto

.header
    background-color: $bgcolor
    height: 700px
    padding-top: 57px
    @media (min-width: 320px) and (max-width: 1279px)
        width: 100%
        height: 100%

    &__nav
        margin-bottom: 150px
        display: flex
        justify-content: space-between
        @media (min-width: 320px) and (max-width: 1279px)
            margin-bottom: 67px
        &-logo
            width: 96px
            height: 60px
            display: flex
            align-items: center
            @media (min-width: 320px) and (max-width: 1279px)
                display: block
                position: absolute
                left: 19px
                top: 22px

        &-links
            display: flex
            align-items: center
            @media (min-width: 320px) and (max-width: 1279px)
                display: none
        &-a
            margin-right: 42px
            text-decoration: none
            cursor: pointer
            font: $fontB
            letter-spacing: 0.1em
            color: #000000
        &-b
            margin-right: 42px
            text-decoration: none
            cursor: pointer
            font: $fontB
            letter-spacing: 0.1em
            color: #34547A

    &__stack
        display: flex
        justify-content: space-around
        align-items: center
        @media (min-width: 320px) and (max-width: 1279px)
            width: auto
            height: auto
            flex-direction: column
        &-img img
            width: 357px
            height: 233.7px
            @media (min-width: 320px) and (max-width: 1279px)
                width: 298px
                height: 195px
        &-info
            display: flex
            flex-direction: column
            align-items: flex-start
            @media (min-width: 320px) and (max-width: 1279px)
                align-items: center
        &-headline
            font: normal 500 48px 'Roboto'
            line-height: 79px
            color: #000000
            margin: 0
            @media (min-width: 320px) and (max-width: 1279px)
                font: normal 500 36px 'Roboto'
                text-align: center
                margin-top: 35px
        &-text
            font: $fontB
            line-height: 38px
            line-height: 26px
            color: #727272
            margin: 45px auto
            @media (min-width: 320px) and (max-width: 1279px)
                font: normal 400 16px
                line-height: 120%
                text-align: center

.button
    width: 225px
    height: 65px
    background: #34547A
    font: $fontB
    line-height: 26px
    text-align: center
    letter-spacing: 0.1em
    color: #FFFFFF
    border: none
    cursor: pointer
    &:hover
        background: #3e6594
    @media (min-width: 320px) and (max-width: 1279px)
        margin-bottom: 95px

.main
    &__about-me
        height: 366px
        display: flex
        flex-direction: column
        justify-content: center
        &__headline
            font: $fontA
            line-height: 38px
            text-align: center
            color: #000000
        &__text
            font: $fontB
            line-height: 26px
            text-align: center
            color: #727272
            margin: 0 30px

    &__projects
        background: #34547A
        &-items
            height: 250px
            display: flex
            justify-content: space-between
            align-items: center
            @media (min-width: 320px) and (max-width: 1279px)
                height: auto
                width: auto
                flex-wrap: wrap
        &-img
            width: 141px
            height: 50px
            @media (min-width: 320px) and (max-width: 1279px)
                margin: 45px auto

    &__skills
        &-my
            height: 653px
            display: flex
            justify-content: space-between
            align-items: center
            @media (min-width: 320px) and (max-width: 1279px)
                height: auto
                margin-top: 82px
                margin-bottom: 103px
                flex-direction: column-reverse
        &-headline
            font: $fontA
            line-height: 38px
            color: #000000
            @media (min-width: 320px) and (max-width: 1279px)
                text-align: center
        &-text
            font: $fontB
            line-height: 26px
            color: #727272
        &-photo img
            width: 555px
            height: 450px
            @media (min-width: 320px) and (max-width: 342px)
                width: 320px
                height: 256px
            @media (min-width: 343px) and (max-width: 1279px)
                width: 339px
                height: 275px
    &__exp
        &-block
            display: flex
        &-blue
            width: 349px
            height: 4px
            background: #34547A
            transform: rotate(-0.06deg)
            @media (min-width: 320px) and (max-width: 1279px)
                width: 250px
        &-grey
            width: 96px
            height: 4px
            background: #C4C4C4
            @media (min-width: 320px) and (max-width: 1279px)
                width: 60px

    &__work
        background: #EEEFF1
        &-items
            padding-top: 65px
            height: 1004px
            display: flex
            flex-direction: column
            align-items: center
            @media (min-width: 320px) and (max-width: 1279px)
                height: auto
        &-headline
            font: $fontA
            line-height: 38px
            text-align: center
            color: #000000
        &-text
            font: $fontB
            line-height: 120%
            text-align: center
            color: #727272
            margin: 30px
        &-images
            position: relative
        &-img
            width: 1110px
            height: 600px
            @media (min-width: 320px) and (max-width: 342px)
                width: 320px
                height: 166px
                margin-bottom: 70px
            @media (min-width: 343px) and (max-width: 1279px)
                width: 339px
                height: 185px
                margin-bottom: 70px
        &-png
            position: absolute
            left: 505px
            right: 505px
            top: 250px
            bottom: 250px
            @media (min-width: 320px) and (max-width: 342px)
                width: 56px
                height: 56px
                left: 130px
                right: 50px
                top: 60px
            @media (min-width: 343px) and (max-width: 1279px)
                width: 75px
                height: 75px
                left: 131px
                right: 133px
                top: 55px
                bottom: 55px

.taskboard
    height: 1016px
    display: flex
    align-items: center
    @media (min-width: 320px) and (max-width: 1279px)
        height: auto
        margin: 34px 0
        justify-content: center
    &__rotate
        display: flex
        flex-wrap: wrap
        @media (min-width: 320px) and (max-width: 1279px)
            justify-content: center
        &-first
        &-second
            display: flex
            flex-direction: column-reverse
        &-third
            display: flex
            flex-direction: column-reverse
        &-fourth
    &__board, &__board img
        width: 476px
        height: 476px
        margin: 0
        @media (min-width: 320px) and (max-width: 375px)
            width: 160px
            height: 160px
        @media (min-width: 376px) and (max-width: 1279px)
            width: 188px
            height: 188px
        &-overlay
            position: absolute
            top: 200px
            left: 180px
            display: none
            @media (min-width: 320px) and (max-width: 1279px)
                display: none
        &-overlay img
            width: 100px
            height: 57px
    &__board
        position: relative
        &:hover
            .taskboard__board-overlay
                display: block
.connection
    background: #EEEFF1
    &__rotate
        height: 762px
        display: flex
        justify-content: space-evenly
        flex-direction: column
        align-items: center
        @media (min-width: 320px) and (max-width: 1279px)
            height: auto
    &__headline
        font: $fontA
        line-height: 38px
        text-align: center
        color: #000000
    &__text
        font: $fontB
        line-height: 26px
        text-align: center
        color: #727272
        margin: 0 30px
        @media (min-width: 320px) and (max-width: 1279px)
            line-height: 120%
    &__form
        display: flex
        flex-direction: column

.user__info
    margin-bottom: 20px
    display: flex
    justify-content: space-between
    @media (min-width: 320px) and (max-width: 1279px)
        flex-direction: column
.form
    &__name, &__mail
        width: 255px
        height: 50px
        border: none
        outline: none
        box-sizing: border-box
        padding-left: 20px
        @media (min-width: 320px) and (max-width: 342px)
            width: 320px
            margin-top: 20px
        @media (min-width: 343px) and (max-width: 1279px)
            width: 342px
            margin-top: 20px
    &__text
        width: 540px
        height: 175px
        border: none
        outline: none
        box-sizing: border-box
        resize: none
        padding-left: 20px
        padding-top: 17px
        @media (min-width: 320px) and (max-width: 342px)
            width: 320px
        @media (min-width: 343px) and (max-width: 1279px)
            width: 342px
.button__form
    width: 190px
    height: 55px
    @media (min-width: 320px) and (max-width: 1279px)
        margin-top: 48px

.footer
    background: #34547A
    &__author
        &-rotate
            height: 151px
            display: flex
            justify-content: space-between
            align-items: center
            @media (min-width: 320px) and (max-width: 1279px)
                height: 210px
                flex-direction: column
                justify-content: space-evenly
        &-name
            font: normal 500 21px 'Roboto'
            line-height: 25px
            color: #FFFFFF
            @media (min-width: 320px) and (max-width: 1279px)
                text-align: center
        &-low
            font: normal 400 13px 'Roboto'
            line-height: 21px
            color: #FFFFFF
            @media (min-width: 320px) and (max-width: 1279px)
                text-align: center
        &-network
            display: flex
        &-img img
            width: 44px
            height: 23px
            margin-left: 20px
            align-items: center
