body {
  margin: 0;
}

.container {
  width: 1130px;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .container {
    width: auto;
  }
}

.header {
  background-color: #EEEFF1;
  height: 700px;
  padding-top: 57px;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .header {
    width: 100%;
    height: 100%;
  }
}
.header__nav {
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .header__nav {
    margin-bottom: 67px;
  }
}
.header__nav-logo {
  width: 96px;
  height: 60px;
  display: flex;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .header__nav-logo {
    display: block;
    position: absolute;
    left: 19px;
    top: 22px;
  }
}
.header__nav-links {
  display: flex;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .header__nav-links {
    display: none;
  }
}
.header__nav-a {
  margin-right: 42px;
  text-decoration: none;
  cursor: pointer;
  font: normal 400 16px "Roboto";
  letter-spacing: 0.1em;
  color: #000000;
}
.header__nav-b {
  margin-right: 42px;
  text-decoration: none;
  cursor: pointer;
  font: normal 400 16px "Roboto";
  letter-spacing: 0.1em;
  color: #34547A;
}
.header__stack {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .header__stack {
    width: auto;
    height: auto;
    flex-direction: column;
  }
}
.header__stack-img img {
  width: 357px;
  height: 233.7px;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .header__stack-img img {
    width: 298px;
    height: 195px;
  }
}
.header__stack-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .header__stack-info {
    align-items: center;
  }
}
.header__stack-headline {
  font: normal 500 48px "Roboto";
  line-height: 79px;
  color: #000000;
  margin: 0;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .header__stack-headline {
    font: normal 500 36px "Roboto";
    text-align: center;
    margin-top: 35px;
  }
}
.header__stack-text {
  font: normal 400 16px "Roboto";
  line-height: 38px;
  line-height: 26px;
  color: #727272;
  margin: 45px auto;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .header__stack-text {
    font: normal 400 16px;
    line-height: 120%;
    text-align: center;
  }
}

.button {
  width: 225px;
  height: 65px;
  background: #34547A;
  font: normal 400 16px "Roboto";
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
.button:hover {
  background: #3e6594;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .button {
    margin-bottom: 95px;
  }
}

.main__about-me {
  height: 366px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main__about-me__headline {
  font: normal 500 32px "Roboto";
  line-height: 38px;
  text-align: center;
  color: #000000;
}
.main__about-me__text {
  font: normal 400 16px "Roboto";
  line-height: 26px;
  text-align: center;
  color: #727272;
  margin: 0 30px;
}
.main__projects {
  background: #34547A;
}
.main__projects-items {
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .main__projects-items {
    height: auto;
    width: auto;
    flex-wrap: wrap;
  }
}
.main__projects-img {
  width: 141px;
  height: 50px;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .main__projects-img {
    margin: 45px auto;
  }
}
.main__skills-my {
  height: 653px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .main__skills-my {
    height: auto;
    margin-top: 82px;
    margin-bottom: 103px;
    flex-direction: column-reverse;
  }
}
.main__skills-headline {
  font: normal 500 32px "Roboto";
  line-height: 38px;
  color: #000000;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .main__skills-headline {
    text-align: center;
  }
}
.main__skills-text {
  font: normal 400 16px "Roboto";
  line-height: 26px;
  color: #727272;
}
.main__skills-photo img {
  width: 555px;
  height: 450px;
}
@media (min-width: 320px) and (max-width: 342px) {
  .main__skills-photo img {
    width: 320px;
    height: 256px;
  }
}
@media (min-width: 343px) and (max-width: 1279px) {
  .main__skills-photo img {
    width: 339px;
    height: 275px;
  }
}
.main__exp-block {
  display: flex;
}
.main__exp-blue {
  width: 349px;
  height: 4px;
  background: #34547A;
  transform: rotate(-0.06deg);
}
@media (min-width: 320px) and (max-width: 1279px) {
  .main__exp-blue {
    width: 250px;
  }
}
.main__exp-grey {
  width: 96px;
  height: 4px;
  background: #C4C4C4;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .main__exp-grey {
    width: 60px;
  }
}
.main__work {
  background: #EEEFF1;
}
.main__work-items {
  padding-top: 65px;
  height: 1004px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .main__work-items {
    height: auto;
  }
}
.main__work-headline {
  font: normal 500 32px "Roboto";
  line-height: 38px;
  text-align: center;
  color: #000000;
}
.main__work-text {
  font: normal 400 16px "Roboto";
  line-height: 120%;
  text-align: center;
  color: #727272;
  margin: 30px;
}
.main__work-images {
  position: relative;
}
.main__work-img {
  width: 1110px;
  height: 600px;
}
@media (min-width: 320px) and (max-width: 342px) {
  .main__work-img {
    width: 320px;
    height: 166px;
  }
}
@media (min-width: 343px) and (max-width: 1279px) {
  .main__work-img {
    width: 339px;
    height: 185px;
  }
}
.main__work-png {
  position: absolute;
  left: 505px;
  right: 505px;
  top: 250px;
  bottom: 250px;
}
@media (min-width: 320px) and (max-width: 342px) {
  .main__work-png {
    width: 56px;
    height: 56px;
    left: 130px;
    right: 50px;
    top: 60px;
  }
}
@media (min-width: 343px) and (max-width: 1279px) {
  .main__work-png {
    width: 75px;
    height: 75px;
    left: 131px;
    right: 133px;
    top: 55px;
    bottom: 55px;
  }
}

.taskboard {
  height: 1016px;
  display: flex;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .taskboard {
    height: auto;
    margin: 34px 0;
  }
}
.taskboard__rotate {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 320px) and (max-width: 375px) {
  .taskboard__rotate {
    justify-content: center;
  }
}
.taskboard__rotate-second {
  display: flex;
  flex-direction: column-reverse;
}
.taskboard__rotate-third {
  display: flex;
  flex-direction: column-reverse;
}
.taskboard__board, .taskboard__board img {
  width: 476px;
  height: 476px;
  margin: 0;
}
@media (min-width: 320px) and (max-width: 375px) {
  .taskboard__board, .taskboard__board img {
    width: 160px;
    height: 160px;
  }
}
@media (min-width: 376px) and (max-width: 1279px) {
  .taskboard__board, .taskboard__board img {
    width: 188px;
    height: 188px;
  }
}

.connection {
  background: #EEEFF1;
}
.connection__rotate {
  height: 762px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .connection__rotate {
    height: auto;
  }
}
.connection__headline {
  font: normal 500 32px "Roboto";
  line-height: 38px;
  text-align: center;
  color: #000000;
}
.connection__text {
  font: normal 400 16px "Roboto";
  line-height: 26px;
  text-align: center;
  color: #727272;
  margin: 0 30px;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .connection__text {
    line-height: 120%;
  }
}
.connection__form {
  display: flex;
  flex-direction: column;
}

.user__info {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .user__info {
    flex-direction: column;
  }
}

.form__name, .form__mail {
  width: 255px;
  height: 50px;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding-left: 20px;
}
@media (min-width: 320px) and (max-width: 342px) {
  .form__name, .form__mail {
    width: 320px;
    margin-top: 20px;
  }
}
@media (min-width: 343px) and (max-width: 1279px) {
  .form__name, .form__mail {
    width: 342px;
    margin-top: 20px;
  }
}
.form__text {
  width: 540px;
  height: 175px;
  border: none;
  outline: none;
  box-sizing: border-box;
  resize: none;
  padding-left: 20px;
  padding-top: 17px;
}
@media (min-width: 320px) and (max-width: 342px) {
  .form__text {
    width: 320px;
  }
}
@media (min-width: 343px) and (max-width: 1279px) {
  .form__text {
    width: 342px;
  }
}

.button__form {
  width: 190px;
  height: 55px;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .button__form {
    margin-top: 48px;
  }
}

.footer {
  background: #34547A;
}
.footer__author-rotate {
  height: 151px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .footer__author-rotate {
    height: 210px;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.footer__author-name {
  font: normal 500 21px "Roboto";
  line-height: 25px;
  color: #FFFFFF;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .footer__author-name {
    text-align: center;
  }
}
.footer__author-low {
  font: normal 400 13px "Roboto";
  line-height: 21px;
  color: #FFFFFF;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .footer__author-low {
    text-align: center;
  }
}
.footer__author-network {
  display: flex;
}
.footer__author-img img {
  width: 44px;
  height: 23px;
  margin-left: 20px;
  align-items: center;
}